# 파이썬의 변수와 데이터 유형
## 이 노트북에서 다룰 내용
![](https://i.imgur.com/6cg2E9Q.png)
1. 변수를 이용한 정보 저장
2. 파이썬의 기본 데이터 유형: 정수, 부동 소수점, 부울, None과 문자열
3. 파이썬 내장 데이터 구조: 리스트, 튜플, 사전
4. 내장 데이터 유형이 지원하는 메소드 및 연산자

## 변수를 사용한 정보 저장

컴퓨터는 정보 저장(데이터라고도 함)과 저장된 데이터에 대한 작업 수행 목적에 유용하다. 
Python과 같은 프로그래밍 언어로 작업하는 동안 데이터는 변수에 저장된다. 
변수는 데이터를 저장하는 컨테이너라고 생각할 수 있다.
변수에 저장된 데이터를 값이라고 한다.
이전 노트북에서 보았듯이 파이썬에서 변수를 만드는 것은 매우 쉽다.


 Creating variables in Python is pretty easy, as we've already seen in the [previous tutorial](https://jovian.ml/aakashns/first-steps-with-python/v/4#C15).

In [3]:
my_favorite_color = "blue"

In [5]:
my_favorite_color

'blue'

변수는 대입(할당)문을 사용하여 생성된다.

대입문은 변수의 이름으로 시작하고, 할당 연산자 `=` 뒤에 변수에 저장할 값이 오게 된다. 
할당 연산자는 `=` 같음 연산자 `==`와는 다르다.
변수 이름과 값을 쉼표롷 구분하여 한 줄의 코드에서 여러 변수에 값을 할당할 수 있다.

In [7]:
color1, color2, color3 = "red", "green", "blue"

In [8]:
color1

'red'

In [9]:
color2

'green'

In [10]:
color3

'blue'

한줄에 여러 할당작업을 연결하여 여러 변수에 동일한 값을 할당할 수도 있다.

In [11]:
color4 = color5 = color6 = "magenta"

In [12]:
color4

'magenta'

In [13]:
color5

'magenta'

In [14]:
color6

'magenta'

다른 할당문으로 변수에 새 값을 지정해서 변수 내 저장된 값을 변경할 수 있다.
변수에 새 값을 할당하면, 이전 값이 손실되고 더 이상 접근할 수 없게 된다.

In [15]:
my_favorite_color = "red"

In [16]:
my_favorite_color

'red'

변수 재할당 법칙으로 변수의 이전 값을 사용해 새 값을 계산할 수도 있다.

In [17]:
counter = 10
counter = counter + 1
counter

11

In [18]:
counter = 10
counter += 1
counter

11

변수의 이름은 짧은 수록 좋으며 (`a`, `x`, `y`, etc.) 변수에 담긴 값을 설명하면 더 좋다( `my_favorite_color`, `profit_margin`, `the_3_musketeers`, etc.). 하지만, 파이썬에서 변수 이름을 지정할때에는 다음 규칙을 따라야 한다.

* 변수 이름은 문자나 `_`문자로 시작해야한다(숫자로 시작할 수 없음).
* 변수 이름에는 소문자 또는 대문자, 숫자, 밑줄만 사용할 수 있다(`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* 변수 이름은 대소문자를 구분한다. 예를들어, `a_variable`, `A_Variable`과 `A_VARIABLE`은 모두 다른 변수이다.

In [22]:
#유효한 변수들
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

유효하지 않은 이름을 가진 변수를 생성해보자.
변수 이름이 유효하지 않은 경우 Python은 Syntex error를 출력한다.
> **구문(Syntax)**: 프로그래밍 언어의 구문은 유효한 명령어 또는 *statement*의 구조를 제어하는 규칙을 나타낸다.

명령문이 이러한 규칙을 따르지 않으면 Python은 실행을 중지하고 **Syntax error**가 있음을 출력한다.
구문은 프로그래밍 언어의 문법 규칙이라고 생각할 수 있다.

In [24]:
a variable = 23

SyntaxError: invalid syntax (<ipython-input-24-b4f9daa715a5>, line 1)

In [25]:
is_today_$aturday = False

SyntaxError: invalid syntax (<ipython-input-25-3785425ca227>, line 1)

In [26]:
my-favorite-car = "Delorean"

SyntaxError: cannot assign to operator (<ipython-input-26-829f5ed5b10b>, line 1)

In [27]:
3_musketeers = ["Athos", "Porthos", "Aramis"]

SyntaxError: invalid decimal literal (<ipython-input-27-41d8638a15bb>, line 1)

## 파이썬 내장 데이터 유형


Python 변수에 저장된 모든 데이터 또는 정보에는 *유형*이 있다.

`type` 함수를 사용하여 변수에 저장된 데이터의 유형을 볼 수 있다.

In [28]:
a_variable

23

In [29]:
type(a_variable)

int

In [30]:
is_today_Saturday

False

In [31]:
type(is_today_Saturday)

bool

In [32]:
my_favorite_car

'Delorean'

In [33]:
type(my_favorite_car)

str

In [34]:
the_3_musketeers

['Athos', 'Porthos', 'Aramis']

In [35]:
type(the_3_musketeers)

list

Python에는 다양한 종류의 정보를 변수에 저장하기 위한 몇 가지 내장 데이터 유형이 있습니다.
1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None과 string은 하나의 값만 가지기에 *기본 데이터 유형*이라고 한다.리스트, 튜플, 사전과 같이 다른 데이터 유형은 여러개의 데이터를 보유할 수 있기에 *data structures* or *containers*라고 한다.

### Integer

정수는 음의 무한대에서 무한대까지 양수 또는 음수 정수를 나타낸다.

정수에는 소수점이 포함되어서는 안 된다. 정수에는 'int' 유형이 있다.

In [36]:
current_year = 2020

In [37]:
current_year

2020

In [38]:
type(current_year)

int

### Float

부동 소수점(또는 부동 소수점 숫자)은 소수점이 있는 숫자이다.
소수점 앞이나 뒤의 값이나 자릿수에는 제한이 없다.
부동 소수점 숫자의 유형은 `float`이다.

In [39]:
pi = 3.141592653589793238

In [40]:
pi

3.141592653589793

In [41]:
type(pi)

float

숫자에서 소수부분이 0인 경우에도 부동 소수점으로 처리된다.

In [42]:
a_number = 3.0

In [43]:
a_number

3.0

In [44]:
type(a_number)

float

In [45]:
another_number = 4.

In [46]:
type(another_number)

float

부동 소수점은 숫자 10의 거듭 제곱을 나타내기 위해 "e"가 있는 과학적 표기법을 사용하기도 한다.

In [47]:
one_hundredth = 1e-2

In [48]:
one_hundredth

0.01

In [49]:
type(one_hundredth)

float

In [50]:
avogadro_number = 6.02214076e23

In [51]:
avogadro_number

6.02214076e+23

In [52]:
type(avogadro_number)

float

`float`와 `int`함수를 사용해 소수를 정수로, 정수를 소수로 변환할 수 있다.
한 유형의 값을 다른 유형의 값으로 변환하는 작업을 __캐스팅__이라고 한다.

In [53]:
float(current_year)

2020.0

In [55]:
int(pi)

3

In [56]:
int(avogadro_number)

602214075999999987023872

산술 연산을 수행하는 동안 피연산자 중 하나라도 `float`이면 정수가 `float`로 자동 변환된다.

또한 나누기 연산자 `/`는 두 피연산자가 모두 정수인 경우에도 항상 `float`를 반환한다.

나누기 결과가 `int`가 되도록 하려면 `//` 연산자를 사용하면 된다.

In [57]:
type(45 * 3.0)

float

In [58]:
type(45 * 3)

int

In [59]:
type(10/3)

float

In [60]:
type(10/2)

float

In [61]:
type(10//2)

int

### Boolean

불리언은 2 가지 값 중 하나를 나타냄: `True`와 `False`. 

불리언을 `bool` 유형이라고 한다.

In [62]:
is_today_Sunday = True
is_today_Sunday

True

In [63]:
type(is_today_Saturday)

bool

부울은 일반적으로 `==`, `>=` 등과 같은 비교 연산의 결과이다.

In [65]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10
is_ice_bag_expensive

False

In [66]:
type(is_ice_bag_expensive)

bool

부울은 산술 연산에 사용될 때 자동으로 `int`로 변환된다.

`True`는 `1`로 변환되고 `False`는 `0`으로 변환된다.

In [67]:
5 + False

5

In [68]:
3. + True

4.0

### None

None 유형은 값이 없음을 나타내는 것으로 `None`을 포함한다. 

나중에 값이 할당될 수 있는 변수를 선언하는 데 자주 사용된다.

In [69]:
nothing = None

In [70]:
type(nothing)

NoneType

### String

문자열은 파이썬에서 텍스트(*문자열*)을 나태내는데 사용된다. 

문자열은 따옴표로 묶어야 한다.(작은 따옴표 `'`나 큰 따옴표 `"` 사용)

문자열은`string`유형이다.

In [71]:
today = "Saturday"

In [72]:
today

'Saturday'

In [73]:
type(today)

str

큰따옴표로 작성된 문자열 안에 작은따옴표를 사용할 수 있으며 그 반대의 경우도 마찬가지이다.

In [75]:
my_favorite_movie = "The Great Gatsby"

In [76]:
my_favorite_movie

'The Great Gatsby'

In [77]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'

In [78]:
my_favorite_pun

'Thanks for explaining the word "many" to me, it means a lot.'

큰따옴표로 작성된 문자열 내에서 큰따옴표를 사용하려면 내부 따옴표 앞에 \ 문자를 붙여서 사용한다.

In [80]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [82]:
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'

작은따옴표나 큰따옴표를 사용하여 만든 문자열은 같은 줄에서 시작하고 끝나야 한다.

여러 줄 문자열을 만드려면 세 개의 작은따옴표 `'''` 또는 세 개의 큰따옴표 `"""`를 사용하여 문자열을 시작하고 끝내야 한다.

줄 바꿈은 줄 바꿈 문자 `\n`을 사용하여 표시된다.

In [83]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" 
Dad: "No sun."'''

In [84]:
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?" \nDad: "No sun."'

In [85]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

In [86]:
a_music_pun = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  

The other says, 
"I'm a big metal fan."
"""

In [87]:
print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

`len`함수를 사용해 문자열의 길이를 확인할 수 있다.

In [88]:
len(my_favorite_movie)

16

`\n`과 같은 특수 문자와 `\"`와 같은 이스케이프 문자는 두 개의 문자로 쓰여지고 때때로 출력되더라도 단일 문자로 계산된다.

In [89]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [91]:
len(multiline_string)

3

In [92]:
list(multiline_string)

['a', '\n', 'b']

문자열은 여러 리스트 연산자를 지원한다.

`[]` 인덱싱 표기법을 사용하여 문자열 내의 개별 문자에 접근할 수 있다.

문자 인덱스는 `0`에서 `n-1`로 이동가능하고 여기서 `n`은 문자열의 길이다.

In [93]:
today = "Saturday"

In [94]:
today[0]

'S'

In [95]:
today[1]

'a'

In [96]:
print(today[3], today[7])

u y

In [97]:
today[5:8]

'day'

In [98]:
'day' in today

True

In [99]:
'Sun' in today

False

(+)연산자를 사용하여 둘 이상의 문자열을 결합하거나 연결할 수 있다.

문자열을 연결할때 주의해야 한다.

단어 사이에 공백 문자를 추가해야할 수도 있다.

In [100]:
full_name = "Derek O'Brien"

In [101]:
greeting = "Hello"

In [102]:
greeting + full_name

"HelloDerek O'Brien"

In [103]:
greeting + " " + full_name + "!" # additional space

"Hello Derek O'Brien!"

Python의 문자열에는 문자열을 조작하는 데 사용되는 내장된 *메서드*가 많이 있다.

>**메서드(Methods)**: 메서드는 데이터 유형과 관련된 함수이며, `.` 으로 접근할 수 있다.

`변수명.method()` 또는 `문자열.method()`와 같은 방식으로 사용할 수있다.

`.lower()`, `.upper()` 와 `.capitalize()` 메서드는 문자의 대소문자를 변경하는데 사용된다.

In [104]:
today.lower()

'saturday'

In [105]:
"saturday".upper()

'SATURDAY'

In [106]:
"monday".capitalize() # changes first character to uppercase

'Monday'

`.replace`메서드는 문자열의 일부를 다른 문자열로 교체한다.

교체할 부분과 교체 텍스트를 *입력* 또는 *인자*로 사용한다.

또한 `.replace`는 새로운 문자열을 반환하며, 원래 문자열은 수정되지 않는다.

In [107]:
another_day = today.replace("Satur", "Wednes")

In [108]:
another_day

'Wednesday'

`.split` 메소드는 제공된 문자가 나타날 때마다 문자열을 문자열 목록으로 분할한다.

In [109]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

`.strip` 메소드는 문자열의 시작과 끝에서 공백 문자를 제거한다.

In [111]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "

In [112]:
a_long_line_stripped = a_long_line.strip()

In [113]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

`.format` 메소드는 다른 데이터 유형의 값(예: 정수, 부동 소수점, 부울, 목록 등)을 문자열과 결합한다.

'형식'을 사용하여 표시할 출력 메시지를 구성할 수 있다.

In [114]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [115]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

`str`을 사용하여 모든 데이터 유형의 값을 문자열로 변환할 수 있다.

In [116]:
str(23)

'23'

In [117]:
str(23.432)

'23.432'

In [118]:
str(True)

'True'

In [119]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

문자열은 두 문자열이 같은지 확인하기 위해 비교 연산자 `==` 및 `!=`도 지원한다.

In [120]:
first_name = "John"

In [121]:
first_name == "Doe"

False

In [122]:
first_name == "John"

True

In [123]:
first_name != "Jane"

True

### List

리스트는 정렬된 값 모음이다.

리스트는 다양한 데이터 유형의 값을 보유할 수 있으며 값을 추가, 제거 및 변경하는 작업을 지원한다.

리스트는 `list` 유형이라고 한다.

리스트를 만들려면 쉼표로 구분된 일련의 값을 대괄호 `[` 및 `]`로 묶는다.

In [124]:
fruits = ['apple', 'banana', 'cherry']

In [125]:
fruits

['apple', 'banana', 'cherry']

In [126]:
type(fruits)

list

In [129]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [130]:
empty_list = []
empty_list

[]

리스트를 구성하는 데이터의 수를 확인하려면  `len` 함수를 사용하면 된다.

In [131]:
len(fruits)

3

In [132]:
print("Number of fruits:", len(fruits))

Number of fruits: 3

In [133]:
len(a_list)

6

In [134]:
len(empty_list)

0

*index*를 사용해 리스트의 요소에 접근할 수 있다. 

예를들어, `fruits[2]`는 `fruits` 리스트의 인덱스 2에 있는 요소를 반환한다.

In [135]:
fruits[0]

'apple'

In [136]:
fruits[1]

'banana'

In [137]:
fruits[2]

'cherry'

In [138]:
fruits[3]

IndexError: list index out of range

In [139]:
fruits[-1]

'cherry'

리스트에서 값 범위에 대해 접근할 수도 있다.

결과도 리스트로 출력해준다.

In [140]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [141]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [142]:
len(a_list)

6

In [143]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

할당 작업을 사용하여 목록 내 특정 인덱스의 값을 변경할 수도 있다.

In [144]:
fruits

['apple', 'banana', 'cherry']

In [145]:
fruits[1] = 'blueberry'
fruits

['apple', 'blueberry', 'cherry']

In [147]:
fruits.append('dates')
fruits

['apple', 'blueberry', 'cherry', 'dates', 'dates']

In [148]:
fruits.insert(1, 'banana')
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates', 'dates']

In [149]:
fruits.remove('blueberry')
fruits

['apple', 'banana', 'cherry', 'dates', 'dates']

fruits 리스트의 메소드 `.remove`에 전달된 값들이 여러개가 있으면 어떤 결과를 출력하나요?

특정 인덱스에서 요소를 제거하려면 `pop` 메소드를 사용해보라.

이 메서드는 제거된 요소도 반환한다.

In [151]:
fruits

['apple', 'banana', 'cherry', 'dates', 'dates']

In [152]:
fruits.pop(1)

'banana'

In [156]:
fruits

['apple', 'cherry', 'dates']

In [157]:
fruits.pop()

'dates'

In [158]:
fruits

['apple', 'cherry']

`in` 연산자를 사용하여 목록에 값이 포함되어 있는지 테스트할 수 있다.

In [161]:
'pineapple' in fruits

False

In [162]:
'cherry' in fruits

True

둘 이상의 리스트를 결합하려면 `+` 연산자를 사용할 수 있다.

이러한 작업을 *concatenation*이라고도 한다.

In [163]:
fruits

['apple', 'cherry']

In [165]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

리스트의 복사본을 만들려면 복사 방법을 사용한다.

복사한 리스트를 수정해도 원본에는 영향을 주지 않는다.

In [167]:
more_fruits_copy = more_fruits.copy()
more_fruits_copy

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [168]:
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [169]:
# Original list remains unchanged
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

할당 연산자 `=`를 사용하여 단순히 새 변수를 생성하는 것만으로는 리스트의 복사본을 생성할 수 없다.

새 변수는 동일한 리스트를 가리키고 두 변수 중 하나를 사용하여 수행한 모든 수정 사항은 다른 변수에 영향을 끼친다.

In [170]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [171]:
more_fruits_not_a_copy = more_fruits

In [172]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

'banana'

In [173]:
more_fruits_not_a_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [174]:
more_fruits

['apple', 'cherry', 'tomato', 'guava', 'dates']

문자열과 마찬가지로 리스트를 조작하는 몇가지 내장 메서드가 있다.

문자열과 달리 대부분의 리스트 메서드는 새 리스트를 반환하지 않고 원래 리스트 수정한다.

이 링크에 몇가지 리스트 메서드가 있다.(https://www.w3schools.com/python/python_ref_list.asp)

리스트에 시도할 수 있는 작업을 직접 수행해보자.
1. 리스트에서 요소의 순서를 반대로 할 것
2. 한 리스트의 요소를 다른 리스트의 끝에 추가 
3. 문자열 리스트를 알파벳 순으로 정리 할것
4. 숫자 리스트를 내림차순으로 정렬 할 것

In [182]:
ints = [1,2,3,4,5,6,7,8,9,10]
fruits = ['apple', 'banana', 'cherry']

In [188]:
ints.reverse()
ints

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [189]:
ints + fruits

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'cherry', 'banana', 'apple']

In [190]:
fruits.append("blueberry")
fruits

['cherry', 'banana', 'apple', 'blueberry']

In [192]:
fruits.sort()
fruits

['apple', 'banana', 'blueberry', 'cherry']

In [195]:
ints = [3,1,2,4,8,9,5,6,7,10]
ints.sort(reverse=True)
ints

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Tuple

튜플은 리스트와 유사하게 정렬된 값 모음이다.

그러나 튜플에서 값을 추가, 제거 또는 수정할 수는 없다. 튜플은 쉼표로 구분된 괄호 `(` 및 `)` 안에 값을 묶어 생성한다.

> 생성 후 수정할 수 없는 모든 데이터 구조를 *immutable*이라고 한다. 튜플은 변경할 수 없는 목록이라고 생각하면 된다.

In [196]:
fruits = ('apple', 'cherry', 'dates')

In [197]:
# check no. of elements
len(fruits)

3

In [198]:
# get an element (positive index)
fruits[0]

'apple'

In [199]:
# get an element (negative index)
fruits[-2]

'cherry'

In [200]:
# check if it contains an element
'dates' in fruits

True

In [201]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [202]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [203]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

튜플을 생성하는 동안 괄호 `(` 및 `)`를 건너뛸 수도 있다.

Python은 자동으로 쉼표로 구분된 값을 튜플로 변환한다.

In [204]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

In [205]:
single_element_tuple = 4,
single_element_tuple

(4,)

In [206]:
another_single_element_tuple = (4,)
another_single_element_tuple

(4,)

In [207]:
not_a_tuple = (4)
not_a_tuple

4

튜플은 종종 단일 문으로 여러 변수를 만드는 데 사용된다.

In [209]:
point = (3, 4)

In [210]:
point_x, point_y = point

In [211]:
point_x

3

In [212]:
point_y

4

`tuple` 함수를 사용하여 리스트를 튜플로 변환할 수 있으며, 그 반대로 `list` 함수를 사용하여 리스트로 변환할 수 있다.

In [213]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [214]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

In [215]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

In [217]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [218]:
?a_tuple.index

### Dictionary

사전은 정렬되지 않은 아이템의 모음이다.

사전에 저장된 각 아이템에는 키와 값이 있다.

키를 사용하여 사전에서 해당 값을 검색할 수 있다.

사전은 `dict` 유형으로 표시한다.

사전은 종종 많은 정보를 저장하는 데 사용된다.

사전은 중괄호 또는 중괄호 `{` 및 `}`로 키-값 쌍을 묶어서 만든다.
또한, 사전은 `dict` 기능을 사용하여 만들 수도 있다.

In [219]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

In [221]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [223]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [224]:
type(person1)

dict

키는 대괄호 `[` 및 `]`를 사용하여 값에 액세스하는 데 사용할 수 있다.

In [226]:
person1['name']

'John Doe'

In [227]:
person1['married']

True

In [228]:
person2['name']

'Jane Judy'

In [229]:
person1['address']

KeyError: 'address'

`get` 메서드를 사용하여 키와 연결된 값에 액세스할 수도 있다.

`get` 메서드는 키가 사전에 없으면 반환되는 기본 값도 허용한다.

In [232]:
person2.get("name")

'Jane Judy'

In [233]:
person2.get("address", "Unknown")

'Unknown'

`in` 연산자를 사용하여 사전에 키가 있는지 확인할 수 있다.

In [234]:
'name' in person1

True

In [235]:
'address' in person1

False

In [236]:
person2['married']

False

In [237]:
person2['married'] = True

In [238]:
person2['married']

True

In [239]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [240]:
person1['address'] = '1, Penny Lane'

In [241]:
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '1, Penny Lane'}

In [242]:
person1.pop('address')

'1, Penny Lane'

In [243]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [244]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [249]:
person1.values()

dict_values(['John Doe', 'Male', 32, True])

In [246]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])

In [247]:
person1.items()[1]

TypeError: 'dict_items' object is not subscriptable

`keys`, `values`, `items`의 결과는 리스트처럼 보인다.

그러나 요소 검색을 위한 인덱싱 연산자 `[]`는 지원하지 않는다.

특정 인덱스의 요소에 접근하려면 어떻게 해야할까요?
*힌트: `list` 함수를 사용하세요*

In [254]:
list(person1.items())[0]

('name', 'John Doe')

사전은 다른 많은 메서드를 제공한다. (https://www.w3schools.com/python/python_ref_dictionary.asp)

아래의 연습 문제를 풀어보세요.

1. 사전을 생성하면서 같은 키를 여러번 사용하면 어떻게 되는지?
2. 사전의 사본을 어떻게 만들 수 있는가?(사본을 수정해도 원본이 변경되지 않아야함)
3. 한 사전의 키-값 쌍을 다른 사전에 어떻게 추가할 수 있습니까? *update 메서드를 참고할 것*
4. 사전의 키는 숫자, 부울, 리스트와 같이 문자열이 아닌 다른것이 될 수있나요?

In [258]:
#1
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 34,
    'age': 32,
    'married': True
}
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [261]:
#2
person_copy=person1.copy()
person_copy.pop('married')
person_copy

{'name': 'John Doe', 'sex': 'Male', 'age': 32}

In [262]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [263]:
#3
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

In [264]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [267]:
#4
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
  1: 2
}

SyntaxError: invalid syntax (<ipython-input-267-b6532739220b>, line 6)